@media (max-width: 1150px){
  .direction{
    padding: 80px 0;
  }
  .direction__items{
    grid-template-columns: repeat(3, 1fr);
  }
  .direction__img{
    width: 350px;
  }
  .tour__info{
    grid-gap: 50px;
  }
}
/*------------------1000------------------------*/
@media (max-width: 1000px){
  .header__title{
    font-size: 80px;
  }
  .header__descr {
    max-width: 360px;
  }
  .direction{
    padding: 70px 0;
  }
  .direction__items{
    grid-gap: 20px;
  }
  .direction__text{
    padding: 15px 20px;
  }
  .popular{
    padding: 80px 0;
  }
  .map{
    padding-bottom: 80px;
  }
  .tour{
    padding: 80px 0;
  }
  .tour__info{
    grid-gap: 20px;
  }
}
/*----------------------900---------------------*/
@media (max-width: 900px){
  .travel-info__items{
    grid-gap: 40px 30px;
  }
  .popular{
    padding: 60px 0;
  }
  .popular__items{
    padding-bottom: 60px;
    grid-gap: 20px;
  }
  .popular__link{
    min-height: 200px;
  }
  .popular__subtitle{
    font-size: 16px;
  }
  .popular__subtitle--big{
    font-size: 22px;
  }
  .map__iframe{
    height: 500px;
  }
  .about__content {
    max-width: 380px;
  }
  .gallery{
    padding: 50px 0;
  }
  .tour__info{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 20px;
  }
  .booking__input{
    max-width: 250px;
  }
}
/*------------------800-----------------------*/
@media (max-width: 800px){
  .header__order-text span{
    display: none;
  }
    .header__title{
    font-size: 70px;
  }
  .header__descr {
    max-width: 340px;
    font-size: 18px;
  }
  .header__btn{
    padding: 10px 50px;
  }
  .travel-info__items{
    grid-template-columns: repeat(3, 1fr);
  }
  .popular{
    padding: 50px 0;
  }
  .popular__items{
    padding-bottom: 50px;
    grid-template-columns: repeat(2, 1fr);
  }
  .popular__link:nth-child(3), 
  .popular__link:nth-child(6) {
    grid-column: auto;
    grid-row: auto;
  }
  .popular__subtitle{
    margin-bottom: 10px;
  }
  .popular__subtitle--big{
    font-size: 20px;
  }
  .map{
    padding-bottom: 60px;
  }
  .map__iframe{
    height: 400px;
  }
  .map__title {
    margin-bottom: 35px;
  }
  .about{
    padding-bottom: 80px;
  }
  .about__inner {
    flex-wrap: wrap;
  }
  .about__content {
    max-width: 1000px;
    margin-bottom: 30px;
    margin-right: 0;
    text-align: center;
  }
  .about__title{
    text-align: center;
  }
  .about__popup{
    height: 400px;
    max-width: 100%;
  }
  .gallery__item-inner {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .gallery__item-img{
    width: 100%;
  }
  .tour{
    padding: 60px 0;
  }
  .tour__title{
    margin-bottom: 60px;
  }
  .tour__box {
    column-gap: 30px;
  }
  .tour__info{
    grid-template-columns: repeat(2, 1fr);
  }
  .booking{
    padding: 60px 0;
  }
  .booking__input{
    min-width: 100%;
  }
  .booking__textarea{
    margin-bottom: 50px;
  }
  .booking__btn{
    width: 250px;
    padding: 15px 35px;
  }
  .footer{
    padding: 60px 0;
  }
}
/*----------------------700-----------------------*/
@media (max-width: 700px){
  .header__title{
    font-size: 60px;
  }
  .header__descr{
    margin-bottom: 50%;
    min-width: 100%;
    text-align: center;
    font-weight: 400;
    color: #fff;
  }
  .direction{
    padding: 60px 0;
  }
  .travel-info__img{
    max-width: 75px;
  }
  .popular__items{
    grid-gap: 15px;
  }
  .about{
    padding-bottom: 60px;
  }
  .gallery__top{
    padding-right: 120px;
  }
  .tour{
    padding: 40px 0;
  }
  .tour__title{
    margin-bottom: 40px;
  }
  .tour__box{
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .tour__info-item{
    font-size: 50px;
  }
  .booking{
    padding: 40px 0;
  }
  .booking__textarea{
    margin-bottom: 70px;
  }
  .booking__btn{
    margin: 0 auto;
  }
  .booking__label{
    width: 100%;
    margin-left: 50px;
    margin-top: -175px;
  }
  .footer{
    padding: 60px 0 20px;
  }
  .footer__logo{
    margin-bottom: 50px;
  }
  .footer__box{
    flex-wrap: wrap;
    text-align: center;
  }
  .footer__info,
  .footer__address,
  .footer__contacts{
    width: 100%;
    margin-bottom: 30px;
  }
  .footer__box-title{
    margin-bottom: 0;
  }
}
/*------------------------600--------------------*/
@media (max-width: 600px){
  .header__top{
    margin-bottom: 0;
  }
  .header__top-logo{
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }
  .header__order{
    display: block;
  }
  .header__order-num{
    font-size: 16px;
    padding: 10px 25px;
  }
  .header__descr{
    margin-bottom: 40%;
  }
  .header__btn{
    margin-bottom: 50px;
  }
  .menu{
    border: none;
  }
  .menu__btn{
    display: inline-block;
    width: 35px;
    height: 25px;
    position: absolute;
    right: 15px;
    top: 115px;
    z-index: 15;
  }
  .menu__btn span{
    display: block;
    height: 2px;
    background-color: #fff;
  }
  .menu__btn::after,
  .menu__btn::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #fff;
  }
  .menu__btn::after{
    top: 0;
  }
  .menu__btn::before{
    bottom: 0;
  }
  .menu__list{
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-200%);
    display: block;
    background-color: #886239;
    text-align: center;
    padding: 20px 0;
    transition: all 0.5s;
  }
  .menu__list.menu__list--active{
    transform: translateY(-75%);
  }
  .menu__link{
    padding: 10px;
    font-size: 18px;
  }
  .direction{
    padding: 50px 0;
  }
  .direction__items{
    grid-template-columns: repeat(2, 1fr);
  }
  .direction__text{
    padding: 10px 20px;
  }
  .travel-info{
    padding: 40px 0;
  }
  .popular__items{
    grid-gap: 10px;
  }
  .popular__subtitle{
    font-size: 14px;
    margin-bottom: 5px;
  }
  .popular__subtitle--big{
    font-size: 18px;
  }
  .popular__price{
    font-size: 14px;
  }
  .map{
    padding-bottom: 40px;
  }
  .about__text{
    margin-bottom: 20px;
  }
  .about__popup{
    height: 300px;
  }
  .gallery__top{
    flex-wrap: wrap;
  }
  .gallery__title{
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
  .tour__box{
    column-count: 1;
  }
  .tour__info{
    grid-template-columns: repeat(1, 1fr);
  }
  .footer{
    padding: 40px 0 20px;
  }
  .footer__logo{
    margin-bottom: 30px;
  }
}
/*-------------------500-----------------------*/
@media (max-width: 500px){
  .header__title{
    font-size: 55px;
  }
  .direction__items{
    grid-gap: 10px;
  }
  .travel-info__title{
    font-size: 32px;
    margin-bottom: 40px;
  }
  .travel-info__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .popular{
    padding: 40px 0;
  }
  .popular__title{
    font-size: 32px;
    margin-bottom: 32px;
  }
  .popular__items{
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 40px;
  }
  .popular__subtitle--big{
    font-size: 16px;
  }
  .map__title{
    font-size: 32px;
  }
  .map__iframe{
    height: 300px;
  }
  .tour__title,
  .about__title,
  .gallery__title{
    font-size: 32px;
  }
  .gallery__item-inner{
    grid-template-columns: repeat(1, 1fr);
  }
  .booking__title{
    font-size: 32px;
  }
  .footer{
    padding-bottom: 10px;
  }
}
/*-------------------400-----------------------*/
@media (max-width: 400px){
  .header__title{
    font-size: 50px;
  }
.header__descr{
    margin-bottom: 50%;
  }
  .header__btn{
    display: flex;
    justify-content: center;
  }
  .direction{
    padding: 30px 0;
  }
  .direction__items{
    grid-template-columns: repeat(1, 1fr);
  }
  .direction__img{
    width: 400px;
  }
  .travel-info {
    padding: 30px 0;
  }
  .travel-info__title{
    font-size: 30px;
    margin-bottom: 30px;
  }
  .travel-info__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .travel-info__img {
    max-width: 70px;
    margin: 0 auto 15px;
  }
  .travel-info__text{
    text-align: center;
  }
  .popular__country{
    display: none;
  }
  .about__popup{
    height: 200px;
  }
  .about__text{
    font-size: 16px;
  }
  .tour__title{
    margin-bottom: 25px;
  }
  .tour__info{
    grid-gap: 15px;
  }
  .tour__info-item{
    font-size: 42px;
  }
  .tour__info-text {
    font-size: 18px;
  }
}